<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo:</strong>
  <%= @pedido.codigo %>
</p>

<p>
  <strong>Mesa:</strong>
  <%= @pedido.mesa %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @pedido.descricao %>
</p>

<%= link_to 'Editar', edit_pedido_path(@pedido), {:class => 'btn waves-effect waves-light action-color margin-right-button'} %> 
<%= link_to 'Voltar', pedidos_path, {:class => 'btn waves-effect waves-light danger-color'} %>
