<p id="notice"><%= notice %></p>

<h1>Pratos</h1>

<table>
  <thead>
    <tr>
      <th>Codigo</th>
      <th>Descricao</th>
      <th>Ingredientes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pratos.each do |prato| %>
      <tr>
        <td><%= prato.codigo %></td>
        <td><%= prato.descricao %></td>
        <td><%= prato.ingredientes %></td>
        <td><%= link_to 'Detalhes', prato %></td>
        <td><%= link_to 'Editar', edit_prato_path(prato) %></td>
        <td><%= link_to 'Apagar', prato, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Prato', new_prato_path, {:class => 'btn waves-effect waves-light submit-color'} %>
