<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo:</strong>
  <%= @prato.codigo %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @prato.descricao %>
</p>

<p>
  <strong>Ingredientes:</strong>
  <%= @prato.ingredientes %>
</p>

<%= link_to 'Editar', edit_prato_path(@prato), {:class => 'btn waves-effect waves-light action-color margin-right-button'} %>
<%= link_to 'Voltar', pratos_path, {:class => 'btn waves-effect waves-light danger-color'} %>
