<!DOCTYPE html>
<html>
  <head>
    <title>Peditoca</title>
    <%= csrf_meta_tags %> <%= csp_meta_tag %>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />

    <%= stylesheet_link_tag 'application', media: 'all',
    'data-turbolinks-track': 'reload' %> <%= javascript_pack_tag 'application',
    'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  
  <nav>
    <div class="nav-wrapper primary-color">
      <div class="container">
      <a href="/pedidos" class="brand-logo">Peditoca</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/pedidos/new">Novo Pedido</a></li>
        <li><a href="/pratos">Pratos</a></li>
      </ul>
      </div>
    </div>
  </nav>

    <div class="container">
      <%= yield %>
    </div>
  </body>

  
  <footer class="footer primary-color">
    <p class="container">
      Todos os direitos reservados © <%= Time.now.year %>
    </p>
  </footer>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</html>
